<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h5 class="h4 text-center">Our Mission</h5>
        <p class="text-center section__description">
          At Vectgen Bio our mission is to improve the lives of
          patients and families living with devastating illnesses, including
          rare diseases and cancer.
        </p>

        <h5 class="h4 text-center">Our Opportunity</h5>
        <p class="text-center section__description">
          There has never been a more exciting time in science, technology, and
          medicine. Our improved understanding of disease pathology combined
          with advances in medical technologies offers hope to patients and
          families in need. Delivering this innovation to the marketplace, however,
          is met with a barrage of challenges driven by the complex and
          fragmented nature of our healthcare system.
        </p>

        <h5 class="h4 text-center">Our Value</h5>
        <p class="text-center section__description">
          To ensure patients’ hope is restored, innovators and collaborators
          must think holistically, plan comprehensively, and execute
          strategically. To that end, our team brings: 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="text-center info__icon">
            <img src="{{ base.url | prepend: site.url }}/assets/img/bulb-icon.svg" alt="">
          </div>
          <h6 class="info-title text-center" style="color: #00B4D8;">
            Commercial Expertise
          </h6>
          <ul class="text-center">
            <li>Broad Range of Therapeutic Areas</li>
            <li>Traditional & Next-Gen Therapies</li>
            <li>All Stages of the Product Lifecycle</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="text-center info__icon">
            <img src="{{ base.url | prepend: site.url }}/assets/img/globe-icon.svg" alt="">
          </div>
          <h6 class="info-title text-center" style="color: #465CF2;">
           Partner Network
          </h6>
          <ul class="text-center">
            <li>Major Academic Medical Center</li>
            <li>Physician & Patient Organization</li>
            <li>Industry Experts</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="text-center info__icon">
            <img src="{{ base.url | prepend: site.url }}/assets/img/rocket-icon.svg" alt="">
          </div>
          <h6 class="info-title text-center" style="color: #A867C1;">Capital</h6>
          <ul class="text-center">
            <li>Execute Quickly & Collaboratively</li>
            <li>Broad Range of Deal Structures</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
