<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <h5 class="h4">Our Mission</h5>
        <p class="">
          At Vectgen Bio our mission is to improve the lives of
          patients and families living with devastating illnesses, including
          rare diseases and cancer.
        </p>

        <h5 class="h4">Our Opportunity</h5>
        <p class="">
          There has never been a more exciting time in science, technology, and
          medicine. Our improved understanding of disease pathology combined
          with advances in medical technologies offers hope to patients and
          families in need. Delivering this innovation to the marketplace, however,
          is met with a barrage of challenges driven by the complex and
          fragmented nature of our healthcare system.
        </p>

        <h5 class="h4">Our Value</h5>
        <p class="">
          To ensure patients’ hope is restored, innovators and collaborators
          must think holistically, plan comprehensively, and execute
          strategically. To that end, our team brings: 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle text-center"
          >
            <i class="ni ni-delivery-fast "></i>
          </div>
          <h6 class="info-title text-uppercase text-primary text-center">
            Commercial Expertise
          </h6>
          <p class=" text-center ">
            Decades of Experience, Broad Range of Therapeutic Areas,
            Traditional & Next Generation Therapies, and All Stages of the
            Product Lifecycle.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle"
          >
            <i class="ni ni-world "></i>
          </div>
          <h6 class="info-title text-uppercase text-warning text-center">
           Partner Network
          </h6>
          <p class=" text-center">
            Multi-Disciplinary Network, including Major Academic Medical
            Centers, Physician &amp; Patient Organizations, and Industry Experts.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle"
          >
            <i class="ni ni-spaceship "></i>
          </div>
          <h6 class="info-title text-uppercase text-success text-center">Capital</h6>
          <p class=" text-center ">
            Execute Quickly &amp; Collaboratively, and Support a Broad Range of Deal Structures.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
