
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">


        <h5 class="h4">Our Approach</h5>
        <p class=" ">
          We are building a sustainable, fully-integrated biotechnology company
          equipped with the experience, resources, and drive needed to navigate
          the challenging waters of product discovery, development, and
          commercialization. 
        </p>
        <p class=" ">
          Alongside our partners at leading academic medical centers and
          research-based institutions, trusted advisors, and forward-thinking
          investors, we are actively pursuing technologies and clinical-stage 
          programs to license or acquire.
        </p>

        <p class="">  
          Additionally, we provide related advice and support to other commercial and pre-commercial stage 
          pharmaceutical and biotechnology companies who share our mission and commitment to patients.
        </p>

      </div>
    </div>
    <br><br>



    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle text-center"
          >
            <i class="fa fa-bed"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary text-center">
            Discovery to Bedside
          </h6>
          <p class=" text-center ">
       Advance and Commercialize through Technology 
           Licensing, Acquisition, and Collaborative Development.
          
          </p>
        </div>
      </div>
      <br>
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle"
          >
            <i class="fa fa-truck"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning text-center">Commercial Support</h6>
          <p class=" text-center ">
           Strategic Planning,   
            Culture &amp; Engagement, 
             Training &amp; Development, and Operational Support.
           
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div
            class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle"
          >
            <i class="fa fa-vcard"></i>
          </div>
          <h6 class="info-title text-uppercase text-success text-center">
            Corporate Development</h6>
          <p class="text-center" >
            Asset Selection, Valuation, and Funding.  
          </p>
        </div>
      </div>
    </div>
  </div>
</div>