
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">


        <h5 class="h4">Our Approach</h5>
        <p class="pb-4">
          We are building a sustainable, fully-integrated biotechnology company
          equipped with the experience, resources, and drive needed to navigate
          the challenging waters of product discovery, development, and
          commercialization. 
        </p>
        <p class="pb-4">
          Alongside our partners at leading academic medical centers and
          research-based institutions, trusted advisors, and forward-thinking
          investors, we are actively pursuing technologies and clinical-stage 
          programs to license or acquire.
        </p>

        <p class="">  
          Additionally, we provide related advice and support to other commercial and pre-commercial stage 
          pharmaceutical and biotechnology companies who share our mission and commitment to patients.
        </p>

      </div>
    </div>
    <br><br>



    <div class="row model-grid">
      <div class="col-lg-4">
        <div class="row">

          <div class="col-md-12">
            <h5 class="text-center text-uppercase">In-House <br> Commercialization</h5>
            <div class="info-wrapper">

              <div class="info">
                <div class="text-center info__icon">
                  <img src="{{ base.url | prepend: site.url }}/assets/img/search.png" alt="">
                </div>
                <h6 class="info-title text-center" style="color: #00B4D8;">
                  Discovery to Bedside
                </h6>
                <ul class="text-center">
                  <li>Advance & Commercialize</li>
                  <li>Technology Licensing</li>
                  <li>Acquisition</li>
                  <li>Collaborative Development</li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-8">
        <h5 class="text-center text-uppercase">Advisory Services <br> & Partnerships</h5>
        <div class="row info-wrapper">

          <div class="col-md-6">
            <div class="info">
              <div class="text-center info__icon">
                <img src="{{ base.url | prepend: site.url }}/assets/img/hands.png" alt="">
              </div>
              <h6 class="info-title text-center" style="color: #465CF2;">Commercial Support</h6>
              <ul class="text-center">
                <li>Strategic Planning</li>
                <li>Culture & Engagement</li>
                <li>Training & Development</li>
                <li>Operational Support</li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="info">
              <div class="text-center info__icon">
                <img src="{{ base.url | prepend: site.url }}/assets/img/cog.png" alt="">
              </div>
              <h6 class="info-title text-center" style="color: #A867C1;">
                Corporate Development
              </h6>
                <ul class="text-center">
                  <li>Asset Selection</li>
                  <li>Valuation</li>
                  <li>Funding</li>
                </ul>
            </div>

          </div>
        
        </div>

      </div>

    </div>
  </div>
</div>