<section class="team">

    <div class="container">

        <div class="team__headers">
            <h2>Leadership Team</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id proin curabitur sed id. Vestibulum in felis natoque mi turpis. Diam nunc, quis vel cursus turpis ornare.
            </p>
        </div>

        <div class="row team__members">

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/ryan.png" alt="">
                    <div class="card-body">
                      <h5>Ryan Bruskiewicz</h5>
                      <p>Chief Business Officer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/haluk.png" alt="">
                    <div class="card-body">
                      <h5>Haluk Germeyan, PhD</h5>
                      <p>Chief Strategy Officer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/prakash.png" alt="">
                    <div class="card-body">
                      <h5>Prakash Melvani, MBA</h5>
                      <p>Chief Financial Officer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/barry.png" alt="">
                    <div class="card-body">
                      <h5>Barry Evans</h5>
                      <p>Chief Financial Officer</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="team__headers mt-5">
            <h2>Advisors</h2>
        </div>

        <div class="row team__members mt-5">

            <div class="col-lg-12">
                <h4 class="advisor-title">BOARD OF DIRECTORS</h4>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/phillip.png" alt="">
                    <div class="card-body">
                      <h5>Philip Carter</h5>
                      <p>Founder & Chief Executive Chairman</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/tom.png" alt="">
                    <div class="card-body">
                      <h5>Tom Turnell, MBA</h5>
                      <p>Sr. Director, Academic Director Northwestern University</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/mark.png" alt="">
                    <div class="card-body">
                      <h5>Mark Wezowski</h5>
                      <p>Chief Business Officer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/chic.png" alt="">
                    <div class="card-body">
                      <h5>Chic-Kao Hu</h5>
                      <p>Managing Partner Oral Group</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row team__members mt-4 justify-content-center">

            <div class="col-lg-12">
                <h4 class="advisor-title">SCIENTIFIC ADVISORS</h4>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/barbara.png" alt="">
                    <div class="card-body">
                      <h5>Barbara Burton, MD</h5>
                      <p>Professor of Pediatrics Northwestern University</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{ base.url | prepend: site.url }}/assets/img/aaron.png" alt="">
                    <div class="card-body">
                      <h5>Aaron Mangold, MD</h5>
                      <p>Department of Dermatology Mayo Clinic</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>