<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/hp-hero.png' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Precision Delivered. <br> Hope Restored. <small>&trade;</small></h3>
          <p class="lead mt-0">Integrating cutting-edge translational research, advances in medical technology, and deep commercialization expertise to deliver next-generation healthcare solutions.
          </p>
          <br><br>
          <div class="buttons">
            <a href="/about" class="btn btn-primary">
              Learn More
            </a>
            <a href="/about" class="btn btn-contact">
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
 