@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #F1F1F8;
    color: #222131;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.h4 {
    font-size: 56px;
    @media(max-width: 992px){
        font-size: 40px;
    }
}

p {
    font-family: 'Mulish', arial, sans-serif;
    font-size: 18px;
    color: #222131;
    @media(max-width: 992px){
        font-size: 16px;
    }
}

.navbar-nav {

    .nav-item:last-child {
        border: 1px solid rgba(0, 180, 216, 0.2);
        min-width: 150px;
        text-align: center;
        border-radius: 5px;
    }

    .nav-item {
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 25px;
        &:last-child {
            padding-right: 0;
        }
        @media(max-width: 992px){
            padding-right: 0;
        }
    }

    .nav-link {
        padding: 0;
    }

}

.header-1 {
    .page-header-image {
        background-size: cover;
        background-position: center;
        @media(max-width: 992px){
            opacity: 1 !important;
        }
    }

    .display-3 {
        font-size: 48px;
        font-family: 'Comfortaa', Arial, sans-serif;
        font-weight: 100;
        @media(max-width: 992px){
            font-size: 40px;
        }
    }

    .display-3, p {
        color: #EDEEFC;
    }

    p {
        font-size: 18px;
        max-width: 525px;
        font-weight: 100;
        @media(max-width: 992px){
            font-size: 16px;
        }
    }
}

.navbar-main {
    position: fixed !important;
    background: none;
    top: 0;

    .navbar-brand img {
        height: 38px;
    }
}

.page-header {
    .btn-primary {
        background: linear-gradient(90deg, #0065AD 0%, #0086C0 59.71%, #00B4D8 100%);
        min-width: 200px;
        padding: 17px 0;
        border: none;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-contact {
        color: #FFFFFF;
        border: 1px solid rgba(0, 180, 216, 0.2);
        padding: 13px 0;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .btn-contact:before {
    //     content: url(/vectgen/assets/img/contact-icon.svg);
    //     position: relative;
    //     top: 5px;
    // }

    .btn {
        @media(max-width: 992px){
            margin-bottom: 20px;
        }
    }

    h2 {
        font-size: 48px;
        font-weight: 400;
        font-family: 'Comfortaa', Arial, sans-serif;
        @media(max-width: 992px){
            font-size: 40px;
        }
    }

    .page-header__btn-down {
        border: 1.4px solid rgba(0, 180, 216, 0.4);
        min-height: 54px;
        min-width: 54px;
        display: flex;
        align-items: center;
        max-width: 54px;
        justify-content: center;
        border-radius: 50%;
        margin-top: 50px;
        margin-left: 95px;
        @media(max-width: 992px){
            margin-top: 25px;
            margin-left: 0;
        }
    }

    .page-header__description {
        max-width: 450px;
        margin-left: 95px;
        font-weight: 100;
        @media(max-width: 992px){
            margin-left: 0;
        }
    }

}

.page-header-100 {
    min-width: 100vw;
}

.section__description {
    padding-bottom: 90px;
    margin-bottom: 0;    
    max-width: 800px;
    margin: 0 auto;

}

.section__description:last-child {
    padding-bottom: 0;
}

.navbar-main .container {
    max-width: 100%;
    padding: 0 50px;
    @media(max-width: 992px){
        padding: 0;
    }
}

.navbar-scroll-bg {
    background: linear-gradient(90deg, rgba(35, 31, 92, 0.93) -17.22%, rgba(24, 21, 64, 0.93) 43.67%, rgba(13, 11, 34, 0.93) 149.1%) !important;
}

.navbar-nav .nav-link .nav-link-inner--text {
    font-family: 'Mulish', arial, sans-serif;
    font-size: 14px;
}

.info {
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
    margin-top: 150px;
    min-height: 350px;
    box-shadow: 0px 28px 36px -24px rgba(193, 70, 242, 0.2);

    .info__icon {
        position: absolute;
        top: -70px;
        left: -50%;
        right: -50%;
        img {
            max-width: 100px;
        }
    }

    .icon-shape {
        border: 1px solid #CFD4F7;
    }

    .info-title {
        font-weight: bold;
        font-size: 20px;
        @media(max-width: 992px){
            font-size: 18px;
        }
    }

    ul {
        list-style: none;
        padding: 0 10px;
    }

    ul li {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid rgba(125,125,125,0.5);
    }

    ul li:last-child {
        border: none;
    }

}

.model-text p {
    max-width: 800px;
    margin: 0 auto;
}

.model-grid {

    .col-md-6 {
        @media(max-width: 992px){
            padding: 0;
        }
    }

    .info {
        margin-top: 100px;
    }

    h5 {
        font-size: 22px;
        font-weight: 700;
    }

    .info-wrapper {
        border: 1px solid #CFD4F7;
        padding: 10px 25px 25px 25px;
        border-radius: 16px;
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
        margin-top: 15px;
        @media(max-width: 992px){
            margin-bottom: 50px;
            border: none;
            padding: 0;
        }
    }

}

.footer{

    background: #F1F1F8;

    hr {
        width: 100%;
    }

    .footer__container {
        padding: 0 80px;
        @media(max-width: 992px){
            padding: 0 15px;
        }
    }

    .footer-social-icons {
        @media(max-width: 992px){
            padding-top: 30px;
        }
    }

}

.footer-social-icons {

    button {
        background: transparent !important;
        border-color: rgba(34, 33, 49, 0.2);
        box-shadow: none;
    }

    i {
        color: #222131;
    }

}

.container {
    max-width: 1200px;
}

.contactus-3 {

    .page-header-100 {
        height: 100vh;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .display-1 {
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 100 !important;
        max-width: 500px;
        @media(max-width: 992px){
            font-size: 40px;
        }
    }

    .btn {
        text-transform: none;
        font-weight: 400;
        font-size: 18px;
    }

}

.contactus-1 .desc br {
    @media(max-width: 992px){
        display: none;
    }
}

.container__contact-icons {

    .info {
        margin-top: 0;
        min-height: 250px;
        background: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .description {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Mulish', Arial, sans-serif;
    }

    .info-title {
        font-family: 'Mulish', Arial, sans-serif !important;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.22em;
    }


    .contact__social-icons {
        .icon i {
            font-size: 16px;
        }

        .icon {
            background: none;
            border: 1px solid #222131;
            min-height: 48px;
            min-width: 48px;
            margin-right: 10px;
        }

    }

}

.container__form {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    .card-contact {
        border-top: 5px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(102.27deg, #74C3E0 19.09%, #465CF2 49.37%, #A46EB9 76.54%);
        padding: 50px;

        [class*="col-"] {
            border: none;
        }

        .btn {
            background: linear-gradient(90deg, #0065AD 0%, #0086C0 59.71%, #00B4D8 100%);
            border: none;
            font-size: 18px;
            font-family: 'Mulish', Arial, sans-serif;
            margin-top: 30px;
        }

        @media(max-width: 992px){
            padding: 50px 10px;
        }

    }

    .card-body .form-control {
        font-family: 'Mulish', Arial, sans-serif;
        font-size: 18px;
    }
}

.team {

    padding-top: 80px;
    @media(max-width: 992px){
        padding-top: 50px;
    }

    .team__headers{

        max-width: 775px;
        margin: 0 auto;

        h2 {
            font-size: 56px;
            text-align: center;
            @media(max-width: 992px){
                font-size: 42px;
            }
        }

        p {
            color: #222131;
            font-size: 18px;
            text-align: center;
        }
    }

    .card {
        position: relative;
        min-height: 325px;
        border-radius: 15px;
        border: 1px solid rgba(207, 212, 247, 1);
        box-shadow: none;

        @media(max-width: 992px){
            margin-top: 50px;
            min-height: 350px;
        }

        @media(max-width: 991px){

        }

        img {
            position: absolute;
            top: -45px;

            @media(max-width: 992px){
                max-width: 300px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            @media(max-width: 400px){
                max-width: 100%;
            }

        }

        .card-body {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(180deg, rgba(242, 242, 248, 0.7) 0%, rgba(237, 238, 252, 0.7) 100%);
            justify-content: flex-end;
            border-radius: 15px;

            h5 {
                color: #222131;
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 0;
                text-align: center;
            }

            p {
                font-size: 14px;
                color: #222131;
                text-align: center;
            }

        }

    }

    .team__members {
        margin-top: 100px;

        .advisor-title {
            margin-bottom: 50px;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            color: #070060;
        }

    }

}

.navbar-collapse {
    background: none !important;
    @media(max-width: 992px){
        background: #32325d !important;
    }
}

.nav-item span {
    color: #FFFFFF;
}

.navbar-collapse .navbar-toggler span {
    background: #FFFFFF !important;
}

.navbar-collapse .navbar-collapse-header {
    border-bottom: 1px solid #F1F1F8;
}