@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #F1F1F8;
    color: #222131;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', Arial, sans-serif !important;
}

.h4 {
    font-size: 56px;
    @media(max-width: 992px){
        font-size: 40px;
    }
}

p {
    font-family: 'Mulish', arial, sans-serif;
    font-size: 18px;
    color: #222131;
    @media(max-width: 992px){
        font-size: 16px;
    }
}

.navbar-nav {

    .nav-item:last-child {
        border: 1px solid rgba(125, 125, 125, 0.5);
        min-width: 150px;
        text-align: center;
        border-radius: 5px;
    }

    .nav-item {
        min-height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 26px;
        &:last-child {
            padding-right: 0;
        }
    }

    .nav-link {
        padding: 0;
    }

}

.header-1 {
    .page-header-image {
        background-size: cover;
        background-position: center;
        @media(max-width: 992px){
            opacity: 1 !important;
        }
    }

    .display-3 {
        font-size: 66px;
        font-family: 'Comfortaa', Arial, sans-serif;
        font-weight: 100;
        @media(max-width: 992px){
            font-size: 42px;
        }
    }

    .display-3, p {
        color: #EDEEFC;
    }

    p {
        font-size: 18px;
        max-width: 525px;
        @media(max-width: 992px){
            font-size: 16px;
        }
    }
}

.navbar-main {
    position: fixed !important;
    background: none;
    top: 0;

    .navbar-brand img {
        height: 38px;
    }
}

.page-header {
    .btn-primary {
        background: linear-gradient(90deg, #0065AD 0%, #0086C0 59.71%, #00B4D8 100%);
        min-width: 200px;
        padding: 17px 0;
        border: none;
    }

    .btn-contact {
        color: #FFFFFF;
        border: 1px solid rgba(125,125,125,0.5);
        padding: 13px 0;
        min-width: 200px;
    }

    .btn-contact:before {
        content: url(/vectgen/assets/img/contact-icon.svg);
        position: relative;
        top: 5px;
    }

    .btn {
        @media(max-width: 992px){
            margin-bottom: 20px;
        }
    }

    h2 {
        font-size: 62px;
        font-weight: 400;
        font-family: 'Comfortaa', Arial, sans-serif;
        @media(max-width: 992px){
            font-size: 50px;
        }
    }

    .page-header__btn-down {
        border: 1.4px solid rgba(0, 180, 216, 0.4);
        min-height: 54px;
        min-width: 54px;
        display: flex;
        align-items: center;
        max-width: 54px;
        justify-content: center;
        border-radius: 50%;
        margin-top: 50px;
        margin-left: 95px;
        @media(max-width: 992px){
            margin-top: 25px;
            margin-left: 0;
        }
    }

    .page-header__description {
        max-width: 400px;
        margin-left: 95px;
        @media(max-width: 992px){
            margin-left: 0;
        }
    }

}

.page-header-100 {
    min-width: 100vw;
}

.section__description {
    padding-bottom: 90px;
    margin-bottom: 0;    
    max-width: 800px;
    margin: 0 auto;

}

.section__description:last-child {
    padding-bottom: 0;
}

.navbar-main .container {
    max-width: 100%;
    padding: 0 50px;
    @media(max-width: 992px){
        padding: 0;
    }
}

.navbar-scroll-bg {
    background: #04082e !important;
}

.navbar-nav .nav-link .nav-link-inner--text {
    font-family: 'Mulish', arial, sans-serif;
    font-size: 14px;
}

.info {
    position: relative;
    background: #FFFFFF;
    border-radius: 15px;
    margin-top: 150px;
    min-height: 350px;
    box-shadow: 0px 28px 36px -24px rgba(193, 70, 242, 0.2);

    .info__icon {
        position: absolute;
        top: -70px;
        left: -50%;
        right: -50%;
    }

    .info-title {
        font-weight: bold;
        font-size: 20px;
        @media(max-width: 992px){
            font-size: 18px;
        }
    }

    ul {
        list-style: none;
        padding: 0 10px;
    }

    ul li {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid rgba(125,125,125,0.5);
    }

    ul li:last-child {
        border: none;
    }

}

.model-grid {

    .col-md-6 {
        @media(max-width: 992px){
            padding: 0;
        }
    }

    .info {
        margin-top: 100px;
    }

    h5 {
        font-size: 22px;
        font-weight: 700;
    }

    .info-wrapper {
        border: 1px solid rgba(125,125,125,0.5);
        padding: 10px 25px 25px 25px;
        border-radius: 16px;
        box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
        margin-top: 15px;
        @media(max-width: 992px){
            margin-bottom: 50px;
            border: none;
            padding: 0;
        }
    }

}

.footer{

    background: #F1F1F8;

    hr {
        width: 100%;
    }

    .footer__container {
        padding: 0 80px;
        @media(max-width: 992px){
            padding: 0 15px;
        }
    }

    .footer-social-icons {
        @media(max-width: 992px){
            padding-top: 30px;
        }
    }

}

.footer-social-icons {

    button {
        background: transparent !important;
        border-color: rgba(34, 33, 49, 0.2);
        box-shadow: none;
    }

    i {
        color: #222131;
    }

}

.container {
    max-width: 1200px;
}