<div class="section features-3 my-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">About Us</h3>
        <p class="lead text-white">There has never been a more exciting time in science, technology, and medicine.  Our improved understanding of disease pathology combined with advances in medical technologies offers hope to patients and families in need. Delivering this innovation the marketplace, however, is met with a barrage of challenges driven by the complex and fragmented nature of the healthcare system.
        </p>
        <h4 class="display-3 text-white">Our Mission</h4>
          <p class="lead text-white">At Vectgen Bio our mission is to improve the lives of the many patients and families living with devastating illnesses, including rare disease and cancer.
          </p>
          <h4 class="display-3 text-white">Our Approach</h4>
          <p class="lead text-white">We are building a sustainable, fully-integrated biotech company equipped with the experience, resources, and drive needed to navigate the challenging waters of product discovery, development, and commercialization.  
          </p>
          <p class="lead text-white">Alongside our partners at leading academic medical centers and research-based institutions, trusted advisors, and forward-thinking investors, we are actively pursuing technologies to advance and commercialize through licensing and acquisition, collaborative development and commercialization, and management deployment. 
          </p>
          <h4 class="display-3 text-white">Our Value</h4>
          <p class="lead text-white">To ensure patients’ hope can be restored, innovators and collaborators must think holistically, plan comprehensively, and execute strategically. 
            Our team brings:
            
          </p>
          

      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-hat-3 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info">Commercialization Expertise</h5>
            <p>Decades of experience, spanning a broad range of therapeutic areas, traditional & next generation therapies, and all stages of the product lifecycle. 
             </p>
            <!-- <a href="#" class="text-info">Learn more</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
            <i class="ni ni-istanbul text-warning"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-warning">Strategic Partner Network </h5>
            <p>Robust, multi-disciplinary network, including major academic medical centers, physician and patient organizations, and industry experts. 
            </p>
           <!-- <a href="#" class="text-warning">Learn more</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      
        
      <div class="col-lg-6">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-success rounded-circle text-white">
            <i class="ni ni-image text-success"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-success">Capital</h5>
            <p>Equipped to quickly and collaboratively support a broad range of technologies and deal structures.
            </p>
            <a href="#" class="text-success">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>